/* blackgreen 151a19 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -2px;
}

h1 {font-size: 2.1em; text-shadow: 1px 0px 0px #ed0000;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}

a {
  text-decoration: none;
}

a,a:visited {
  color: #eb412e;
}

a:hover {
  color: #ff5533;
  transition: color 0.6s ease;
}

textarea, 
input[type="search"] {
  background-color: #e4ebab;
  padding: 20px;
  font-size: 0.6em;
  border: none;
}

input[type="search"] {
  padding: 10px; 
}

input[type="submit"] {
  background-color: #eb412e;
  border: none;
  font-size: 0.7em;
  box-shadow: none;
  color: #e4ebab;
  text-shadow: 1px 0px 0px #1c1c1c;
}
input[type="submit"]:hover {
  box-shadow: none;
  background-color: #ff5533;
}

body {
  background-color: #151a19;
  min-width: 480px;
}

/*  *********************************
    Modules contained separately so
    we can do some full-width things
    around the content.
  ********************************* */

.site-header,
.entry-header,
.site-main .post-navigation,
.comments-area,
.widget-area,
.site-footer {
  max-width: 1140px;
  margin: 0 auto;
}

/* sections */

.site {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
  color: #e4ebab;
}

.header-wrap {
  background-color: #1c1c1c;
  border-bottom: 2px solid #2a2e21;
}

.site-header {
  height: 160px;
  padding: 0 20px;
}

.site-branding {
  float:left;
  width: 30%;
}

.main-navigation {
  float: right;
  text-align: right;
  max-width: 500px;
  height: 100%;
  clear: none;
  height: 90px;
}

.main-navigation .menu-item {
  padding-left: 10px;
}
.main-navigation .menu-item:first-child {
  padding-left: 0;
}

.main-navigation a {
  color: #eb412e;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.main-navigation a:hover {
  cursor:pointer;
}

.hentry {
  padding: 40px 20px 0;
}

.content-wrap+.content-wrap {
  border-top: 2px solid #2a2e21;
  padding: 70px 0;
}
.content-wrap:first-child+.content-wrap {
  margin-top: 70px;
}
.footer-wrap {
  background-color: #1c1c1c;
  padding: 40px 0;
  border-top: 2px solid #2a2e21;  
}

.entry-header, .entry-footer {
  text-align: center;
}

.entry-content {
  padding: 40px 40px 20px;
  background-color: #152421;
  box-shadow: 3px 5px 7px #134037;
  max-width: 800px;
  margin: 20px auto 0;
}

.entry-footer {
  padding-top: 20px;
}

.post-navigation {
  padding: 0 20px;
}

.comments-area {
  padding: 0 20px;
}

.widget-area {
  padding: 0 20px;
}

.site-footer {
  text-align: center;
  padding: 0 20px;
}

