/* blackgreen 151a19 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -2px;
  color: #ddd;
}

h1 {font-size: 1.6em; text-shadow: 1px 0px 0px #222;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}

a {
  text-decoration: none;
}

a,a:visited {
  color: #b6c795;
}

a:hover {
  color: #e4ebab;
  transition: color 0.6s ease;
}

textarea,
input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"] {
  padding: 10px;
  background-color: #e4ebab;
  font-size: 0.6em;
  border: none;
}

button,
input[type="submit"] {
  background-color: #4E7529;
  border: none;
  font-size: 0.7em;
  box-shadow: none;
  color: #ddd;
  text-shadow: 1px 0px 0px #010d0d;
}
button:hover,
input[type="submit"]:hover {
  box-shadow: none;
  background-color: #3c5c1d;
}

body {
  background: 
    url(/wp-content/themes/flannel_s/img/alley.png) center fixed no-repeat #040505;
}

/*  *********************************
    Modules contained separately so
    we can do some full-width things
    around the content.
  ********************************* */

.site-header,
.main-navigation,
.entry-header,
.entry-content,
.site-main .post-navigation,
.comments-area,
.widget-area,
.site-footer {
  max-width: 1140px;
  margin: 0 auto;
}

/* sections */

.site {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6em;
  color: #dbe8c1;
  min-width: 400px;
}

.header-wrap,
.nav-wrap,
.content-wrap,
.secondary-wrap {
  background-image: url(/wp-content/themes/flannel_s/img/teal-grunge.png);
}

.header-wrap {
  position: relative;
  box-shadow: 0px 1px 20px 10px #000;
}

.site-header {
  padding: 20px;
  min-height: 100px;
}

.site-header img {
  float: left;
  display: block;
}

.site-branding {
  padding-left: 20px;
  overflow: hidden;
}

.site-title {
  float:left;
  clear:none;
  font-size: 50px;
  line-height: 1.3;
}

.site-description {
  line-height: 1.0;
  font-size: 26px;
}

.nav-wrap {
  border-top: 6px solid #010d0d;
  border-bottom: 10px solid #2a2e21;
  background: url(/wp-content/themes/flannel_s/img/flannel.png) right bottom repeat #010d0d;
}

.nav-img {
  display: none;
  float: left;
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
  line-height: 300px;
}

.nav-img img {
  display: block;
}

.main-navigation {
  float: none;
}

.main-navigation .menu-item {
  padding-left: 10px;
  margin-top: 10px;
}

/*.main-navigation .menu-item a {
  margin: 11px 0;
}*/

.main-navigation .menu-item:first-child {
  padding-left: 0;
}
.main-navigation .menu-item-has-children {
  margin-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .menu-item-has-children > a:hover
 {
  border: none;
  border-radius: 0;
  padding-top: 17px;
  padding-bottom: 22px;
  color: #ddd;
}

.main-navigation .menu-item-has-children ul > a {

  position: relative;
}

.main-navigation .menu-item-has-children > a:before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -6px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; 
  border-top: 8px solid #ddd; 
}

.main-navigation .menu-item-has-children ul {
  background-color: #010d0d;
  border-top: 10px solid #2a2e21;
  box-shadow: 9px 6px 6px #020801;
  top: 84px;
}

.main-navigation .menu-item-has-children ul a {
  border-radius: 0;
  font-size: 0.8em;
}

.main-navigation .menu-item-has-children ul a:hover {
  color: #010d0d;
  background-color: #b6c795;
}

.main-navigation a {
  color: #b6c795;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1px 24px 4px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  position: relative;
  border-radius: 50%;
}

.main-navigation a:hover {
  cursor:pointer;
  color: #ddd;
  border-left: 1px solid #b6c795;
  border-right: 1px solid #b6c795;
  border-bottom: 6px solid #b6c795;
  border-top: 6px solid #b6c795;
  position: relative;
}


.content-wrap+.content-wrap,
.secondary-wrap {
  border-top: 1px solid #666;
}

.content-wrap:first-child+.content-wrap,
.content-wrap:first-child+.content-wrap+.content-wrap+.content-wrap,
.content-wrap:first-child+.content-wrap+.content-wrap+.content-wrap+.content-wrap+.content-wrap {
  margin-bottom: 600px;
  border-bottom: 1px solid #666;
}

.content-wrap, .secondary-wrap {
  padding: 70px 0;
}

.entry-header, .entry-footer {
  text-align: center;
}

.entry-title {
  padding: 0 20px 10px;
}

.entry-meta, .entry-footer {
  max-width: 500px;
  margin: 10px auto 0;
  background-color: #040505;
}

.entry-content, .comments-area {
  padding: 40px 200px 20px;
  margin: 20px auto 0;
  border-radius: 0 0 10px 10px;
}

.entry-content {
  border-top: 10px solid #2a2e21;
  border-bottom: 20px solid #2a2e21;
  border-radius: 0 0 10px 10px;
  background: url(/wp-content/themes/flannel_s/img/bass-skate.png) right bottom no-repeat #010d0d;
}

.comments-area {
  background-color: #040505;
}


.post-navigation {
  padding: 0 20px;
}

.secondary-wrap {
  background: url(/wp-content/themes/flannel_s/img/buffalo-behind.png) center bottom no-repeat #010d0d;
}

.widget-area {
  font-size: 0.65em;
  font-family: 'Open Sans', sans-serif;
  width: 720px;
}

.widget-area h3 {
  letter-spacing: -1px;
}

.widget-area input[type="search"] {
  font-size: 0.9em;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 8px;
  margin: 0 auto;
  width: 90%;
}

.widget {
  float:left;
  width: 45%;
  margin-left: 10%;
  padding: 10px;
  background: url(/wp-content/themes/flannel_s/img/trans-black.png);
  border-radius: 10px;
}

.widget:first-child,
.widget:first-child+.widget+.widget,
.widget:first-child+.widget+.widget+.widget+.widget {
  clear:both;
  margin-left: 0;
}

.widget ul {
  list-style: none;
  margin-left: 22px;
}

.widget li {

  position: relative;
}

.widget li:before {
  content: url(/wp-content/themes/flannel_s/img/fl-list-item.png);
  position: absolute;
  left: -1.3em;
  top: -.02em;
}

.footer-wrap {
  background: url(/wp-content/themes/flannel_s/img/flannel.png) right bottom repeat #010d0d;
  padding: 40px 0 0;
  border-top: 10px solid #2a2e21;
}

.footer-img {
  width: 100%;
}


.site-footer {
  text-align: center;
  padding: 0 20px;
}

.site-info {
  font-size: 0.6em;
  font-weight: bold;
}

.site-info li {
  display: inline-block;
}

/* tablet/phone breaking point */

@media screen and (max-width: 900px) { 

  body {
    background-image: url(/wp-content/themes/flannel_s/img/alley-medium.png);
  }

  .site-title,
  .site-description {
    margin-bottom: 20px;
    text-align: center;
  }

  .site-header img {
    display: none;
  }

  .nav-img {
    display: block;
  }

  .main-navigation {
    width: 50%;
    float: left;
    clear: none;
    text-align: right;
  }

  .main-navigation .menu-item-has-children,
  .main-navigation .menu-item {
    float: none;
    border: 0;
    padding: 0;
  }

  .main-navigation a:hover {
    color: #010d0d;
    background-color: #b6c795;
    border-radius: 0;
  }

  .main-navigation .menu-item-has-children > a:hover {
    background-color: inherit;
  }

  .main-navigation .menu-item > a {
    position: relative;
    margin: 11px 20px 0;
  }

  .main-navigation .menu-item-has-children > a:before {
    display: none;
  } 

  .main-navigation .menu-item-has-children > a:after {
    content: '';
    position: absolute;
    top: 31px;
    right: 0;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:10px solid #ddd; 
  }

  .main-navigation .menu-item-has-children ul {
    left: 100%;
    top: 0;
    position: absolute;
  }

  .main-navigation .menu-item-has-children ul a {
    margin: 0;
    text-align: left;
  }

  .entry-content, .comments-area, .widget-area {
    padding-left: 20px;
    padding-right: 20px;
  }

  .entry-content {
    background-image: none;
  }

  .secondary-wrap {
    background-image: url(/wp-content/themes/flannel_s/img/buffalo-behind-medium.png);
    padding-top: 20px;
  }

  .widget-area {
    width: auto;
  }

  .widget {
    margin: 20px 0;
  }

  .widget,
  .widget:first-child,
  .widget:first-child+.widget+.widget,
  .widget:first-child+.widget+.widget+.widget+.widget {
    float: none;
    width: auto;
    padding: 20px;
  }

  .widget-area input[type="search"] {
    width: 100%;
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;    
    box-sizing: content-box; 
  }

}